body{
    user-select: none;
}

.container{
    text-align: center;
    border: 10px solid rgb(185, 184, 184);
    width: fit-content;
    margin: 10px auto;
    padding: 20px 0px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px black;
}
table{
    margin: auto;
    
}

input{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    border: 10px solid black;
    width: 250px;
    margin: 20px auto;
    height: 50px;
    text-align: end;
}

button{
    font-size: 23px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 5px solid grey;
    cursor: pointer;
    
}

.bottom{
    border: 2px solid red;
    
}


.screen{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    background: rgb(0, 255, 0,0.4);
    border: 10px solid black;
    width: 250px;
    margin: 20px auto;
    height: 50px;
    overflow-x:hidden;   
    
}

h1{
    color: grey;
    user-select: none;
}

button:hover{
    background-color: rgb(223, 222, 222);
}